################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vidly2026/bin
/Vidly2026/obj/Debug
