@model Vidly2026.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>    
    @if (Model.Birthdate != null)
    {
        <li>Birthdate: @string.Format("{0: dd/MM/yyyy}", @Model.Birthdate)</li>
    }
        <li>
            Subscribed to Newsletter:
            @if (Model.IsSubscribedToNewsletter)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
        </li>
</ul>

