@model IEnumerable<Vidly2026.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Customers List</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet</p>
}
else
{
    <table id="customers" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@Html.ActionLink(customer.Name, "Details", new { Id = customer.Id }, new { @class = "nav-link" })</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();

        });
    </script>
}